In [1]:
2+1

3

In [2]:
2-1

1

In [3]:
2*2

4

In [4]:
3/2

1.5

In [5]:
7%4

3

In [6]:
50%5

0

In [7]:
23%2

1

If even number remainder will be zero when modulo with and odd when remainder will be other than zero.

In [8]:
2**3

8

In [10]:
2+10*10+3

105

In [11]:
(2+10)*(10+3)

156

py uses dynamic typing i.e one variable name can be assigned to many.

In [12]:
a=5

In [13]:
a=10

In [14]:
a

10

In [20]:
a=a+a

In [21]:
a

80

In [22]:
type(a)

int

In [23]:
a=30.1

In [24]:
type(a)

float

In [25]:
my_income=100
tax_rate=0.1
my_taxes=my_income*tax_rate

In [26]:
my_taxes

10.0

slicing=[start,stop,step]

In [27]:
'hello'

'hello'

In [28]:
"world"

'world'

In [29]:
'this is also a string'

'this is also a string'

In [30]:
'i'm going on a run'

SyntaxError: unterminated string literal (detected at line 1) (3945003453.py, line 1)

In [31]:
"i'm goin on a run"

"i'm goin on a run"

In [32]:
print("hello")

hello

In [33]:
print("hello \n world")

hello
 world

In [34]:
print("hello \t world")

hello 	 world

In [37]:
len("hello")

5

In [36]:
len("I am")

4

In [38]:
mystring="Hello World"

In [39]:
mystring

'Hello World'

In [40]:
mystring[0]

'H'

In [41]:
mystring[9]

'l'

In [42]:
mystring[-1]

'd'

In [43]:
mystring='abcdefghijk'

In [44]:
mystring

'abcdefghijk'

In [45]:
mystring[2:]

'cdefghijk'

In [46]:
mystring[:3]

'abc'

In [47]:
mystring[3:6]

'def'

In [48]:
mystring[1:3]

'bc'

In [49]:
mystring[::]

'abcdefghijk'

In [50]:
mystring[::2]

'acegik'

step basically jumps the number given

In [51]:
mystring[2:7:2]

'ceg'

Immutability

In [52]:

name="sam"

In [53]:
name[0]='P'

TypeError: 'str' object does not support item assignment

In [54]:
last_letters=name[1:]

In [55]:
last_letters

'am'

In [56]:
'P'+last_letters

'Pam'

In [63]:
x="hello world "

In [64]:
x=x+" it is beautiful outside"

In [65]:
x

'hello world  it is beautiful outside'

In [67]:
2+3

5

In [69]:
'2'+'3'

'23'

In [70]:
x="Hello World"

In [71]:
x.upper()

'HELLO WORLD'

In [72]:
x.capitalize()

'Hello world'

In [73]:
x

'Hello World'

In [76]:
x.split()

['Hello', 'World']

In [77]:
x='Hi this is a string'

In [78]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

For comments use #.

'String here {} then also {}'.format('something1','something2')

In [80]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [81]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [82]:
print('The {1} {2} {0}'.format('fox','brown','quick'))

The brown quick fox

In [83]:
print('The {b} {f} {q}'.format(f='fox',b='brown',q='quick'))

The brown fox quick

In [84]:
result=104.254876

In [87]:
print("The result was {r:1.2f}".format(r=result))

The result was 104.25

In [88]:
name='Jose'

In [89]:
print(f'Hello his name is {name}')

Hello his name is Jose

In [90]:
name='Lipita'
age=19

In [93]:
print(f"My name is {name} and my age is {age}.")

My name is Lipita and my age is 19.

In [94]:
my_list=['Lipita',100,7.7]

In [95]:
my_list

['Lipita', 100, 7.7]

In [96]:
len(my_list)

3

In [97]:
my_list=['one','two','three']

In [98]:
my_list[1:]

['two', 'three']

In [99]:
ano_list=['four','five']

In [100]:
new_list=my_list+ano_list

In [101]:
new_list

['one', 'two', 'three', 'four', 'five']

In [114]:
new_list[0]='Lipita'

In [115]:
new_list

['Lipita', 'two', 'three', 'four', 'five', 'sex', 'six', 'six', 'six', 'six']

In [118]:
new_list.append('six')

In [120]:
new_list

['Lipita',
 'two',
 'three',
 'four',
 'five',
 'sex',
 'six',
 'six',
 'six',
 'six',
 'six',
 'six']

In [135]:
new_list.pop()

'five'

In [136]:
new_list

['Lipita', 'two', 'three', 'four']

In [138]:
new_list.pop(0)

'Lipita'

In [139]:
new_list

['two', 'three']

In [141]:
new_list=['a','e','x','c']
num_list=[4,1,3,8]

In [142]:
new_list.sort()
num_list.sort()

In [143]:
new_list

['a', 'c', 'e', 'x']

In [144]:
num_list

[1, 3, 4, 8]

In [145]:
num_list.reverse()

In [146]:
num_list

[8, 4, 3, 1]

In [147]:
my_dict={'key1':'value1','key2':'value2'}

In [148]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [149]:
prices={'apple':2.99,'oranges':1.99,'milk':5.80}

In [150]:
prices["apple"]

2.99

In [151]:
d={'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}

In [153]:
d['k2']

[0, 1, 2]

In [154]:
d['k3']['insideKey']

100

In [155]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'insideKey': 100}}

In [156]:
d['k3']=100

In [157]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': 100}

In [158]:
d={'k1':100,'k2':200,'k3':300}

In [159]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [160]:
d.values()

dict_values([100, 200, 300])

In [161]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [162]:
t=(1,2,3)

In [163]:
type(t)

tuple

In [164]:
len(t)

3

In [165]:
t[0]

1

In [167]:
t=('a','a','b')

In [168]:
t.count('a')

2

In [169]:
t.index('a')

0

In [170]:
my_list

['one', 'two', 'three']

In [171]:
t[0]='NEW'

TypeError: 'tuple' object does not support item assignment

In [172]:
myset=set()

In [173]:
myset

set()

In [174]:
myset.add(1)

In [175]:
myset

{1}

In [176]:
myset.add(2)

In [177]:
myset

{1, 2}

In [178]:
mylist=[1,1,1,1,1,1,1,2,2,2,2,2,3,3,3,3,3]

In [179]:
set(mylist)

{1, 2, 3}

In [180]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [181]:
True

True

In [182]:
type(True)

bool

In [183]:
1>2

False

In [184]:
1==1

True

In [185]:
b=None

In [186]:
b

In [187]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [188]:
myfile=open('myfile.txt')

In [189]:
pwd

'c:\\Users\\admin\\Desktop\\Lipita.ipynb\\python_udemy.ipynb'

In [190]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [191]:
myfile.read()

''

In [192]:
myfile.seek(0)

0

In [193]:
contents=myfile.read()

In [194]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [195]:
myfile.seek(0)

0

In [196]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [197]:
myfile.close()

In [198]:
with open('myfile.txt') as my_new_file:
    contents=my_new_file.read()

In [199]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [200]:
with open('myfile.txt',mode='r') as myfile:
    contents=myfile.read()

In [202]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [204]:
with open('my_new_file.txt',mode='a') as f:
    f.write('FOUR ON FOURTH')

In [205]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH